In [1]:
pwd

'C:\\workspace\\wassup3\\03_data processing'

In [2]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample1.csv

In [3]:
import pandas as pd

In [4]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [5]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [6]:
pd.read_csv('sample2.csv')

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [7]:
pd.read_csv('sample2.csv',names=['c1', 'c2', 'c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [8]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [9]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Overwriting sample3.txt

In [10]:
pd.read_table('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [11]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample4.txt

In [12]:
pd.read_csv('sample4.txt', skiprows=[0, 1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [13]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Overwriting sample5.csv

In [14]:
df = pd.read_csv('sample5.csv')
df

   c1     c2      c3
0   1   1.11     one
1   2            two
2  누락   3.33   three

In [15]:
df = pd.read_csv('sample5.csv', na_values=['누락'])
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [16]:
df.to_csv('sample7.txt', sep='|')

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df.index = ["a", "b", "c"]
df

    c1     c2      c3
a  1.0   1.11     one
b  2.0            two
c  NaN   3.33   three

In [19]:
df.to_csv('sample9.csv', index=False, header=False)

In [20]:
import datetime
dt_start = datetime.datetime(2015, 1, 1)
dt_end = "2016, 6, 30"

In [21]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\dlftk\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\dlftk\anaconda3\lib\site-packages (from pandas_datareader) (4.9.3)
Requirement already satisfied: pandas>=0.23 in c:\users\dlftk\anaconda3\lib\site-packages (from pandas_datareader) (2.1.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\dlftk\anaconda3\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dlftk\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dlftk\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dlftk\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dlftk\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dlftk\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dlftk\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dlftk\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dlftk\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\dlftk\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas_datareader as pdr

In [23]:
gdp = pdr.get_data_fred('GDP', dt_start, dt_end)
gdp.tail()

                  GDP
DATE
2015-04-01  18279.784
2015-07-01  18401.626
2015-10-01  18435.137
2016-01-01  18525.933
2016-04-01  18711.702

In [24]:
gdp = pdr.get_data_fred('REAINTRATREARAT10Y', dt_start, dt_end)
gdp.tail()

            REAINTRATREARAT10Y
DATE
2016-02-01            0.538738
2016-03-01            0.551407
2016-04-01            0.345273
2016-05-01            0.413650
2016-06-01            0.519099

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [27]:
df.loc[ ["a", "c"] ]

    A   B   C   D
a  10  11  12  13
c  18  19  20  21

In [28]:
df.loc[ ["a":"c"] ]

SyntaxError: invalid syntax (2589116003.py, line 1)

In [ ]:
df

In [ ]:
df.iloc[1, 2]

In [ ]:
df.loc[1, 2]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series(range(10))
s

In [ ]:
s[3] = np.nan
s

In [ ]:
s.count()

In [ ]:
np.random.seed(2)
df = pd.DataFrame(np.random.randint(5, size=(4, 4)), dtype=float)
df

In [ ]:
import seaborn as sns

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
titanic[['sex', 'age', 'class', 'alive']]

In [ ]:
titanic.value_counts()

In [ ]:
titanic.head()

In [ ]:
titanic['age'].mean()

In [ ]:
titanic['sex']=='female'

In [ ]:
titanic[titanic['sex']=='female']['age'].mean()

In [ ]:
titanic['class']=='First'

In [ ]:
titanic[(titanic['class']=='First')&(titanic['sex']=='female')]['age'].mean()

In [ ]:
titanic['category1']=titanic.apply(lambda r: r.sex if r.age>=20 else 'child',axis=1)

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] # 순서 지정
index = ["서울", "부산", "인천", "대구"] # 순서 지정
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
df['2010']

In [ ]:
df

In [ ]:
df.T.loc['서울']

In [ ]:
df.loc[:,'2010']

In [ ]:
df.loc['서울','2010']

In [ ]:
df.loc['서울']

In [ ]:
df.loc['서울','2010']

In [ ]:
df.iloc[0]

In [ ]:
df.T

In [ ]:
df.T.loc['2010']

In [ ]:
df3 = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
df3

In [ ]:
df3.apply(pd.value_counts)

In [32]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [33]:
bins = [1, 20, 40, 50, 70, 100]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
df5 = pd.cut(titanic.age, bins, labels=labels)
df5.head()

0    청년
1    청년
2    청년
3    청년
4    청년
Name: age, dtype: category
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [ ]:
df5.value_counts()

In [31]:
df5

NameError: name 'df5' is not defined

In [ ]:
bins = [1, 20, 40, 50, 70, 100]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
sexlabel = ['남성', '여성']

In [ ]:
titanic['c3']=pd.cut(titanic.age,bins,labels=labels)

In [ ]:
titanic['c3']=titanic.apply(lambda x : '미성년자' if x.age <20 else x.c3 + x.sex,axis=1)

In [34]:
titanic["category3"] = titanic.apply(lambda x : '미성년자' if x.age <= 20 else x.category3 + x.sex, axis=1)
titanic.x

AttributeError: 'Series' object has no attribute 'category3'

In [43]:
import numpy as np
import pandas as pd

In [36]:
np.round(np.random.rand(3, 5), 2)

array([[0.91, 0.07, 0.71, 0.59, 0.41],
       [0.97, 0.49, 0.11, 0.74, 0.71],
       [0.67, 0.32, 0.21, 0.31, 0.29]])

In [37]:
np.vstack([list('ABCDE'), np.round(np.random.rand(3, 5), 2)])

array([['A', 'B', 'C', 'D', 'E'],
       ['0.73', '0.51', '0.93', '0.62', '0.25'],
       ['0.18', '0.73', '0.75', '0.3', '0.31'],
       ['0.11', '0.73', '0.93', '0.3', '0.49']], dtype='<U32')

In [38]:
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list('ABCDE'), np.round(np.random.rand(3, 5), 2)]).T, # transpose
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [39]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [40]:
df_score1 = pd.DataFrame(np.random.randint(0, 101, size=(5, 3)), columns=['국어', '영어', '수학'])
df_score1

   국어  영어  수학
0   9  20  80
1  69  79  47
2  64  82  99
3  88  49  29
4  19  19  14

In [42]:
df_score.index.진구 = "이름"
df_score.index

NameError: name 'df_score' is not defined

In [ ]:
df_score1 = pd.DataFrame(np.random.randint(0, 101, size=(3, 5)), columns=['국어', '영어', '수학'])
df_score2 = pd.DataFrame(np.random.randint(0, 101, size=(3, 5)), columns=['국어', '영어', '수학'])

In [45]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [46]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [52]:
df.loc['A']

KeyError: 'A'

In [47]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [59]:
df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [64]:
df.loc['a','C']

12

In [58]:
df.loc[1:2]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [66]:
df.loc[["a", "c"], ["B", "D"]]

    B   D
a  11  13
c  19  21

In [67]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [68]:
df.iloc[2:, 1:3]

    B   C
c  19  20

In [1]:
import pandas as pd

In [2]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]
df1 = pd.DataFrame(data, columns=columns)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [3]:
df2 = df1[["도시", "연도", "인구"]]
df2

   도시    연도       인구
0  서울  2015  9904312
1  서울  2010  9631482
2  서울  2005  9762546
3  부산  2015  3448737
4  부산  2010  3393191
5  부산  2005  3512547
6  인천  2015  2890451
7  인천  2010   263203