In [1]:
#화면에 Hello World 문자열을 출력하세요.

In [3]:
print("Hello world")

Hello world

In [4]:
#화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [5]:
print("Mary's cosmetics")

Mary's cosmetics

#화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [7]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".


화면에 C:\Windows를 출력하세요.

In [9]:
print("C:\Windows")

C:\Windows

In [10]:
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

#print("안녕하세요.\n만나서\t\t반갑습니다.")

In [11]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [12]:
print(naver;kakao;daum)

SyntaxError: invalid syntax (3837643720.py, line 1)

In [13]:
print("a","b","c",sep=";")

a;b;c

In [14]:
print("first");print("second")

first
second

In [15]:
print("first");+ print("second")

first
second

TypeError: bad operand type for unary +: 'NoneType'

In [16]:
a,b = "first","second" ; a+b

'firstsecond'

In [17]:
삼성전자 = 50000 ; 삼성전자 * 10

500000

In [27]:
시가총액,현재가,PER = "298조","50,000원",15.79 /n print("시가총액","현재가",PER)

SyntaxError: invalid syntax (196647920.py, line 1)

In [30]:
시가총액=2980000000000 , 현재가=50000, per=15.79 /n print((시가총액,type(시가총액)),(현재가,type(현재가)),(per,type(per)))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2621693031.py, line 1)

In [32]:
시가총액=2980000000000 , 현재가=50000, per=15.79 /n print(시가총액,type(시가총액)), print(현재가,type(현재가)), print(per,type(per))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1529642529.py, line 1)

In [33]:
시가총액=2980000000000 현재가=50000, per=15.79 /n print(시가총액,type(시가총액)), print(현재가,type(현재가)), print(per,type(per))

SyntaxError: invalid syntax (218247250.py, line 1)

In [49]:
시가총액 = "298조"
현재가 = "50,000원"
PER = 15.79
print("시가총액:",시가총액)
print("현재가:",현재가)
print("PER:",PER)

시가총액: 298조
현재가: 50,000원
PER: 15.79

In [37]:
s = "hello" t = "python" , s + "!" /t +t

SyntaxError: invalid syntax (3778337337.py, line 1)

In [168]:
s = "hello" 
t = "python" 
s + "!" /t +t

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [40]:
s = "hello" t = "python"  
s + t

SyntaxError: invalid syntax (1458934774.py, line 1)

In [41]:
s = "hello" t = "python"  
s, t

SyntaxError: invalid syntax (1655865129.py, line 1)

In [42]:
s = "hello" t = "python"  
s + t

SyntaxError: invalid syntax (1584650457.py, line 1)

In [45]:
s = "hello" 
t = "python"  
s + "! " + t

'hello! python'

In [46]:
a = "132"
print(a,type(a))

132 <class 'str'>

In [ ]:
num_str = "720"

In [51]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [52]:
num = 100
num_str="num"
print(num_str,type(num_str))

num <class 'str'>

In [53]:
num = 100
num_str=str(num)
print(num_str,type(num_str))

100 <class 'str'>

In [54]:
a = "15.79"
b = float(a)
print(b,type(b))

15.79 <class 'float'>

In [58]:
year = "2024"
year2 = int(year)
print(year2-2,year2-1,year2)

2022 2023 2024

In [60]:
rental = 48584
총금액 = rental * 36
print("총금액")

총금액

In [61]:
rental = 48584
총금액 = rental * 36
print(총금액)

1749024

# 21번

In [64]:
letters = 'python'
letters[0],letters[2]

('p', 't')

In [65]:
letters = 'python'
print(letters[0],letters[2])

p t

In [72]:
a = "24가 2210"
a[-4:]

'2210'

In [74]:
b = "홀짝홀짝홀짝"
b[::2]

'홀홀홀'

In [79]:
c = "python" 
print(c[::-1])

nohtyp

In [84]:
d = "010-1234-5678"
print(d[0:3]) + print(d[4:8]) + print(d[9:11])

010
1234

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [85]:
d = "010-1234-5678"
print(d[0:3]) + print(d[4:8])

010
1234

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [86]:
d = "010-1234-5678"
e = d[0:3] + d[4:8] + d[9:13]
print(e)

01012345678

In [89]:
d = "010-1234-5678"
dd = d.replace("-"," ")
print(dd)

010 1234 5678

In [90]:
d = "010-1234-5678"
dd = d.replace("-","")
print(dd)

01012345678

In [97]:
url = "naver.com"
url_q = url.split('.')
print(url_q[-1])

com

In [102]:
a = 'python'
print(a)

python

In [107]:
a = 'python'
b = 'P' + a[1:]
b

'Python'

In [111]:
a = 1234
a[0]=6
print(a)

TypeError: 'int' object does not support item assignment

In [113]:
string = 'abcdfe2a354a32a'
string2 = string.replace("a","A")
print(string2)

Abcdfe2A354A32A

In [118]:
t1 = 'python'
t2 = 'java'
t3 = t1 +' ' + t2 + ' '
t4 = t3 * 3
t4

'python java python java python java '

In [130]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [135]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %s" % (name1, age1))
print("이름: %s 나이: %s" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [138]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름 : {name1} 나이 : {age1}')
print(f'이름 : {name2} 나이 : {age2}')

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [139]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",","")
b = int(a)
print(b,type(b))

5969782550 <class 'int'>

In [151]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [154]:
a = "   삼성전자    "
b=a.strip()
b

'삼성전자'

In [155]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [157]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [162]:
a = "hello"
b = 'H' + a[1:]
b

'Hello'

In [163]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [164]:
a = "hello world"
b = a.split(" ")
b

['hello', 'world']

In [165]:
date = "2020-05-01"
k = date.split("-")
year = k[0]
month = k[1]
day = k[2]
year,month,day

('2020', '05', '01')

In [167]:
data = "039490     "
a = data.rstrip()
a

'039490'

In [169]:
q = "abcdefgh"
w = q[::-1]
e = q[::-2]
print(w,e)

hgfedcba hfdb

In [173]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
    
    f’(이름: {name1} 나이: {age1})’
    f’(이름: {name2} 나이: {age2})’

IndentationError: unexpected indent (2798517467.py, line 6)

In [176]:
분기 = "2020/03(E) (IFRS연결)"
q = 분기.split()
w = q[:7]
w

['2020/03(E)', '(IFRS연결)']

In [177]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [179]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank,insert(0,"배트맨")
movie_rank

NameError: name 'insert' is not defined

In [183]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(0,"배트맨")
movie_rank

['배트맨', '닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [184]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[-2]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [185]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [187]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
lang3

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [189]:
nums = [1, 2, 3, 4, 5, 6, 7]
a = nums.min()
b = nums.max()
print(a,b)

AttributeError: 'list' object has no attribute 'min'

In [191]:
nums = [1, 2, 3, 4, 5]
print(avg(nums))

NameError: name 'avg' is not defined

In [192]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [193]:
nums = [1, 2, 3, 4, 5]
a = sum(nums)
b = len(nums)
c = a / b
c

3.0

# 61번

In [194]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
a = del price[0]
print(a)

SyntaxError: invalid syntax (2959520091.py, line 2)

In [195]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
print(price)

[100, 130, 140, 150, 160, 170]

In [196]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = nums[::2]
a

[1, 3, 5, 7, 9]

In [198]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = nums[1:2]

[2]

In [199]:
nums = [1, 2, 3, 4, 5]
s = nums[::-1]
s

[5, 4, 3, 2, 1]

In [200]:
interest = ['삼성전자', 'LG전자', 'Naver']
a = interest[0]
s = interest[2]
print(a,s)

삼성전자 Naver

In [202]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[:])

['삼성전자', 'LG전자', 'Naver']

In [204]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interset.join("/")

NameError: name 'interset' is not defined

In [206]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [207]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
\n.join(interest)

SyntaxError: unexpected character after line continuation character (2007121699.py, line 2)

In [211]:
string = "삼성전자/LG전자/Naver"
s = string.replace("/",",")
s

'삼성전자,LG전자,Naver'

In [212]:
string = "삼성전자/LG전자/Naver"
a = string.split("/")
a

['삼성전자', 'LG전자', 'Naver']

In [213]:
a.sort?

Signature: a.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [219]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]